# GitHub Packages configuration
# This file configures npm to use GitHub Packages for @uniswap scoped packages
# 
# IMPORTANT: Do NOT commit tokens directly in this file!
# Use environment variable ${NODE_AUTH_TOKEN} as shown below
# Set the token via: export NODE_AUTH_TOKEN=your_github_token

@uniswap:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}